@font-face {
  font-family: outfit;
  src: url("https://fonts.google.com/specimen/Outfit");
}

body {
  background: hsl(212, 45%, 89%);
  height: 90vh;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: outfit;
}

.card {
  background: hsl(0, 0%, 100%);
  max-width: 280px;
  min-height: 450px;
  text-align: center;
  border-radius: 30px;
  padding: 20px;
}

img {
  height: auto;
  width: 100%;
  border-radius: 20px;
}
h1 {
  margin-top: 20px;
  font-size: 20px;
  font-weight: 1000;
  color: hsl(218, 44%, 22%);
}

h2 {
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  padding-left: 10px;
  padding-right: 10px;
}

.attribution {
  margin-top: 40px;
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
